# Build and binary folder of CMake and Python distutils
/build/
/installed/
/dist/

# Build folder of Sphinx
/docs/_build

# OS X temporary and cache files
*~
.DS_Store

# Eclipse
/.cproject
/.project
.settings/
.csettings/

# CLion
.idea/
