include *.md
include LICENSE

include MANIFEST.in
include pyproject.toml
include setup.cfg
include setup.py

include CMakeLists.txt
include requirements.txt
graft src
graft pybind11
graft praat

include .gitmodules
graft extern
exclude extern/fmt/.git

graft res

include pytest.ini
graft tests

graft docs
prune docs/_build

global-exclude *.py[co]

exclude praat/generate/Unicode/*.pdf
